@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wendy+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fff;

  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;

  display: flex;
  height: 60px;
  background: #5a9bff;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #5a9bff;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 30px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 460px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 50px 60px;

  border-radius: 0px 0px 16px 26px;

  background: #5a9bff;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Wendy One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.99px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #fadf6b;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
  }
  .header {
    width: 100%;

    height: 80px;
    padding: 32px 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    border-radius: 0px 0px;
  }

  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    border: none;
    padding-block: 0;
    flex: 1;
    gap: 100px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Wendy One;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.99px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 800px;

  padding: 60px 14px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
}

.home-title {
  margin: auto;
  width: 301px;
  height: 313px;
}
.home-text {
  color: #ffe64b;
  text-shadow: 0px 0px 5.77px #000f29;
  font-family: Wendy One;
  font-size: 23.1px;
  font-weight: 400;
  line-height: 24.37px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 14px;
}
.home__google-button_link {
  display: flex;
  align-items: start;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;

    padding: 107px 885px 0 77px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .home-title {
    width: 367px;
    height: 381px;
  }
  .home-text {
    padding: 27px 0 0px;
    font-family: Wendy One;
    font-size: 32px;
    font-weight: 400;
    line-height: 33.76px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home__google-button_link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.about {
  padding: 100px 20px 0;
  margin: auto;
  width: 375px;
  height: 1010px;

  display: flex;
  flex-direction: column;
  align-items: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/About\ the\ Game.png");
}

.about-title {
  font-family: Wendy One;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about-text {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 44px 0 0px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 108px 649px 0 60px;
    margin: auto;
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/about/About\ the\ Game\ \(1\).png");
  }

  .about-text {
    padding: 44px 0 0px;

    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.advantages {
  background: linear-gradient(180deg, #152c68 0%, #82d7ff 100%);

  width: 375px;
  margin: auto;
  padding: 100px 20px 14px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 40px;
  margin: auto;
}
.advantages-item {
  margin: auto;
  width: 263px;
}
.advantages-item-img {
  margin: auto;
}
.advantages-item-text {
  font-family: Wendy One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.99px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 0px 0 2px;
}
.advantages-text-bold {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;

    margin: auto;
    padding: 108px 188px 82px;

    gap: 22px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 22px;
    padding-top: 34px;
    height: 400px;
    margin: auto;
  }
  .advantages-item {
    margin: 0;
    width: 466px;
  }
  .advantages-item-img {
    margin: auto;
  }
}
.how {
  width: 375px;
  height: 720px;

  margin: auto;
  padding: 72px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/Feature\ keys.png");
}

.how-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: auto;
}
.how-item {
  margin: auto;
  width: 335px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.how-item-text {
  font-family: Wendy One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.99px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;
}
.how-text-bold {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 460px;

    margin: auto;
    padding: 63px 103px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/how/Feature\ keys\ \(1\).png");
  }

  .how-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1234px;
    height: 333.4px;
  }
  .how-item {
    margin: 0;
    width: 567px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.faq {
  padding: 32px 16px;
  margin: auto;
  width: 375px;
  min-height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/faq/FAQ.png");
}
.faq-list {
  width: 311px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
}

.faq-item {
  border-bottom: 1px solid #ffffff;
  padding: 0 12px 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: Wendy One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.99px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.faq-img {
  width: 335px;
  height: 405.74px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 32px 140px 67px;
    margin: auto;
    width: 1440px;

    min-height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/faq/FAQ\ \(1\).png");
  }
  .faq-container {
    display: flex;
    gap: 10px;
  }

  .faq-list {
    width: 691px;
    padding-top: 71px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
  }

  .faq-item {
    border-bottom: 1px solid #ffffff;
    padding: 0 12px 10px;
  }

  .faq-img {
    width: 527px;
    height: 646px;
  }
}
.gallery {
  width: 375px;
  background: linear-gradient(180deg, #162d69 0%, #82d7ff 100%);

  margin: auto;
  padding: 32px 0px;
}

.gallery-list {
  width: auto;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 28px;
}

.gallery-item {
  overflow: hidden;
  position: relative;
  width: 308px;
  height: 412px;

  margin: 0 5px;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 32px 137px 90px;
  }

  .gallery-list {
    width: auto;
    margin: auto;
    padding-top: 36px;
  }
  .gallery-item {
    overflow: hidden;
    position: relative;
    width: 308px;
    height: 412px;

    margin: 0 10px;
  }
}

.footer {
  background: #080d3b;

  padding: 19px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 4px;
}
.footer-text {
  font-family: Wendy One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.99px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Wendy One;
  font-size: 10px;
  font-weight: 400;
  line-height: 10.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 27px 50px 27px 228px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 1440px;
    gap: 240px;
  }
  .footer-wrapper {
    gap: 4px;
  }
  .footer-text {
    font-family: Wendy One;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.99px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Wendy One;
    font-size: 10px;
    font-weight: 400;
    line-height: 10.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.policy-terms {
  flex-direction: column;
  align-items: start;
  padding: 114px 20px 51px;
  background-color: #fff;
  color: #000000;
}

.policy-terms-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
}
.email-link-color {
  color: #000000;

  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .policy-terms {
    flex-direction: column;
    align-items: start;
    padding: 157px 86px 100px;
    width: 1440px;
    margin: auto;
  }
}
